<div class="contenedor">

  <h1>Buscador de Usuarios</h1>
  <div class="div-consult">
  <i class="iclass fa-solid fa-person-walking-arrow-right"></i>
  <input [(ngModel)]="username" 
  #ngModel="ngModel" 
  name="username"
  placeholder="Ingrese usuario" 
  minlength="4"
  required
  (ngModelChange)="validateInput()"/>
  <button (click)="searchUsers()" [disabled]="username.length < 4 || isInvalidWord">Buscar</button>
  </div>

  <table mat-table [dataSource]="users" class="mat-elevation-z8">

    <!-- Columna ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Columna Nombre -->
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef> nombre </th> 
      <td mat-cell *matCellDef="let element"> <a [routerLink]="['/user', element.login]">{{element.login}}</a> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

    <echarts [options]="barChartOptions" class="chart-container"></echarts>

</div>