
  <mat-card *ngIf="user" class="profile-card">

    <mat-card-header class="profile-header">
      <img [src]="user.avatar_url" alt="Avatar de {{ user.login }}" />
    </mat-card-header>

    <mat-divider></mat-divider>
    <mat-card-content>
      <p><strong>ID:</strong> {{ user.id }}</p>
      <p><strong>Nombre:</strong> {{ user.name }}</p>
      <p><strong>Bio:</strong> {{ user.bio }}</p>
      <p><strong>Repositorios públicos:</strong> {{ user.public_repos }}</p>
      <p><strong>Seguidores:</strong> {{ user.followers }}</p>
      <p><strong>Siguiendo:</strong> {{ user.following }}</p>
      <a [href]="user.html_url" target="_blank">Ver en GitHub</a>
    </mat-card-content>
  </mat-card>