
.error-banner {
    position: fixed;
    top: 25rem;
    left: 50%;
    transform: translateX(-50%);
    background: red;
    color: white;
    padding: 2rem;
    width: 50%;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button {
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }